<!doctype html>
<html>
<head>
	<title>Bookstore</title>
</head>
<body>
	<h2>Home</h2>
	<h2><a href = "/cart">Cart</a></h2>

	<div>
		<img src="download.jfif"/>
		<h4>price:20$</h4>
		<h4>Items Left: <%= num[0].number  %></h4>
<button onclick="#">Add To Cart</button>
	</div>

	<div>
		<img src="download (1).jfif"/>
		<h4>price:20$</h4>
		<h4>Items Left: <%= num[1].number %></h4>
		<button onclick="#">Add To Cart</button>

	</div>
</body>
</html>