<!doctype html>
<html>
<head>
	<title>Bookstore</title>
	<script
  src="https://code.jquery.com/jquery-3.4.1.js"
  integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
  crossorigin="anonymous"></script>
	<script src="/js.js"></script>

</head>
<body>
	<h2>Home</h2>
	<h2><a href = "/cart" >Cart</a></h2>

	<div>
		<img src="download.jfif"/>
		<h4>price:20$</h4>
		<h4>Items Left: <span id="book1"><%= num[0].number  %></span></h4>
<button class = "cart" name="1">Add To Cart</button>
	</div>

	<div>
		<img src="download (1).jfif"/>
		<h4>price:25$</h4>
		<h4>Items Left:<span id="book2"> <%= num[1].number %></span></h4>
		<button class = "cart" name="2">Add To Cart</button>

	</div>
</body>
</html>